* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Satoshi;
  src: url(../asset/fonts/Satoshi-Regular.ttf);
}
@font-face {
  font-family: ClashDisplay;
  src: url(../asset/fonts/ClashDisplay-Regular.ttf);
}
.header {
  height: 121px;
}
.header .container {
  width: 1440px;
  margin: 0 auto;
}
.header__delivery {
  width: 1440px;
  height: 41px;
  padding: 0 22px 0 516px;
  background-color: #2A254B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__delivery img {
  width: 12px;
  height: 12px;
}
.header__delivery__text {
  width: 407px;
  font-size: 14px;
  font-family: Satoshi;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.header__delivery__text img {
  width: 16px;
  height: 16px;
}
.header__menu {
  width: 1280px;
  height: 30px;
  display: flex;
  margin: 25px 0px 0px 80px;
  align-items: center;
}
.header__menu__profile {
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin-left: 308px;
}
.header a {
  text-decoration: none;
}
.header nav {
  width: 675px;
  display: flex;
  justify-content: space-between;
  color: #726E8D;
  font-family: Satoshi;
  align-items: center;
  margin-left: 152px;
}

.banner {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}
.banner__text {
  margin: 51px 0 0 62px;
}
.banner__text__heading p:nth-of-type(1) {
  font-family: ClashDisplay;
  font-size: 36px;
  color: #2A254B;
}
.banner__text__heading p:nth-of-type(2) {
  font-family: Satoshi;
  font-size: 24px;
  color: #12131A;
  margin-top: 13px;
}
.banner__text__description {
  margin-top: 54px;
}
.banner__text__description__title p:nth-of-type(1) {
  font-family: ClashDisplay;
  color: #2A254B;
}
.banner__text__description__title p:nth-of-type(2) {
  width: 498px;
  font-family: Satoshi;
  margin-top: 16px;
  color: #505977;
}
.banner__text__description__plus {
  margin-top: 20px;
}
.banner__text__description__plus__item {
  display: flex;
  align-items: center;
  font-family: Satoshi;
  color: #505977;
  margin-left: 10px;
}
.banner__text__description__plus__item p {
  margin-left: 11px;
}
.banner__text__description__plus__item .tochka {
  width: 4px;
  height: 4px;
  background-color: #505977;
  border-radius: 50%;
}
.banner__text__dimensions {
  margin-top: 50px;
}
.banner__text__dimensions__heading {
  font-family: ClashDisplay;
  color: #2A254B;
}
.banner__text__dimensions__points {
  width: 241px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.banner__text__dimensions__points__size {
  width: 44px;
  height: 51px;
}
.banner__text__dimensions__points__size p:nth-of-type(1) {
  color: #2A254B;
  font-size: 14px;
  font-family: ClashDisplay;
}
.banner__text__dimensions__points__size p:nth-of-type(2) {
  color: #505977;
  font-size: 16px;
  font-family: Satoshi;
  margin-top: 12px;
}
.banner__text__amount {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.banner__text__amount__title {
  width: 209px;
  font-family: ClashDisplay;
  color: #2A254B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__text__amount__counter {
  width: 122px;
  height: 46px;
  align-items: center;
  padding: 0 16px;
  display: flex;
  background-color: #F9F9F9;
  justify-content: space-between;
  font-family: Satoshi;
}
.banner__text__amount__counter p:nth-of-type(1) {
  color: #CAC6DA;
}
.banner__text__amount__counter p:nth-of-type(2) {
  color: #2A254B;
}
.banner__text__amount__counter p:nth-of-type(3) {
  color: #CAC6DA;
}
.banner__text__amount__btn {
  width: 143px;
  height: 56px;
  background-color: #2A254B;
  border: none;
  font-family: Satoshi;
  color: white;
}

.alsolike {
  width: 1440px;
  height: 761px;
  margin: 0 auto;
  padding-top: 80px;
}
.alsolike h4 {
  width: 1280px;
  margin: 0 auto;
  font-family: ClashDisplay;
  font-weight: 400;
  font-size: 32px;
  color: #2A254B;
}
.alsolike__cards {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 33px;
}
.alsolike__cards__item {
  width: 305px;
  height: 462px;
  color: #2A254B;
}
.alsolike__cards__item img {
  width: 305px;
  height: 375px;
}
.alsolike__cards__item p:nth-of-type(1) {
  font-family: ClashDisplay;
  font-size: 20px;
  margin-top: 24px;
}
.alsolike__cards__item p:nth-of-type(2) {
  font-family: Satoshi;
  font-size: 18px;
  margin-top: 8px;
}
.alsolike__btn {
  width: 170px;
  height: 56px;
  border: none;
  background-color: #F9F9F9;
  color: #2A254B;
  font-family: Satoshi;
  margin: 35px 0 0 635px;
}

.different {
  height: 355px;
  margin: 0 auto;
  padding-top: 60px;
}
.different__heading {
  font-family: ClashDisplay;
  font-size: 24px;
  color: #2A254B;
  text-align: center;
}
.different__points {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 51px;
}
.different__points__point p:nth-of-type(1) {
  font-size: 20px;
  font-family: ClashDisplay;
  color: #2A254B;
  margin: 16px 0 8px 0;
}
.different__points__point p:nth-of-type(2) {
  width: 270px;
  font-family: Satoshi;
  color: #2A254B;
  line-height: 24px;
}

.join {
  width: 1440px;
  height: 481px;
  background-color: #F9F9F9;
  padding-top: 52px;
  margin: 0 auto;
}
.join__base {
  width: 1273px;
  height: 364px;
  background-color: white;
  margin: 0 auto;
}
.join__base h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: ClashDisplay;
  padding: 68px 0 0 351px;
  color: #2A254B;
}
.join__base p {
  width: 470px;
  color: #2A254B;
  line-height: 24px;
  font-family: Satoshi;
  margin: 16px 0 0 401px;
  text-align: center;
}
.join__base input {
  width: 354px;
  height: 56px;
  background-color: #F9F9F9;
  border: none;
  font-family: Satoshi;
  margin: 72px 0 0 400px;
  padding-left: 32px;
  color: #2A254B;
}
.join__base__btn {
  width: 118px;
  height: 56px;
  background-color: #2A254B;
  font-family: Satoshi;
  color: white;
  border: none;
}

.footer {
  width: 1440px;
  height: 350px;
  background-color: #2A254B;
  color: white;
  margin: 0 auto;
  padding: 53px 0 0 80px;
}
.footer__title {
  display: flex;
}
.footer__title__address h1 {
  font-family: ClashDisplay;
  font-size: 36px;
  font-weight: 400;
}
.footer__title__address p {
  font-family: Satoshi;
  font-size: 14px;
  margin-top: 12px;
}
.footer__title__address p:nth-of-type(1) {
  margin-top: 16px;
}
.footer__title__links {
  margin-left: 65px;
  font-family: ClashDisplay;
}
.footer__title__links__icons {
  width: 264px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.footer__title__columns {
  display: flex;
}
.footer__title__columns h4 {
  font-family: ClashDisplay;
  font-weight: 400;
}
.footer__title__columns p {
  font-family: Satoshi;
  font-size: 14px;
  margin-top: 12px;
}
.footer__title__columns__menu {
  margin-left: 170px;
}
.footer__title__columns__categories {
  margin-left: 109px;
}
.footer__title__columns__ourCompany {
  margin-left: 135px;
}
.footer hr {
  width: 1277px;
  margin-top: 48px;
  color: #4E4D93;
  border: 1px solid #4E4D93;
}
.footer__media {
  margin-top: 16px;
  font-size: 14px;
  font-family: Satoshi;
}/*# sourceMappingURL=Product.css.map */