// Обнуление стилей
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Поключение стилей
@font-face {
    font-family: Satoshi;
    src: url(../asset/fonts/Satoshi-Regular.ttf);
}

@font-face {
    font-family: ClashDisplay;
    src: url(../asset/fonts/ClashDisplay-Regular.ttf);
}


// Стилия для шапки сайта
.header{
    height: 132px;
    padding: 20px 28px 0 28px;
    margin: 0 auto;

    .container{
        width: 1384px;
        margin: 0 auto;

    }

    &__menu{
        display: flex;
        align-items: center;
        padding: 0 0 20px 0;

    }

    &__logo{
        margin-left: 643px;
    }
    
    // Стили для навигации
    nav{
        width: 675px;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 20px 354px;
        color: #726E8D;
        font-family: Satoshi;
    }

    hr{
        border: 1px solid #0000001A;
    }

    &__profile{
        margin-left: 612px;
        display: flex;
        
        img:nth-of-type(1){
            margin-right: 16px;
        }
    }

    a{
        text-decoration: none;
    }
}

// Стили для баннера
.banner{
    width: 1440px;
    height: 209px;
    margin: 0 auto;
    background-image: url(../asset/media/ProductListening/PageHeaders.jpg);
    padding: 123px 0 0 80px;

    h1{
        font-family: ClashDisplay;
        font-size: 36px;
        font-weight: 400;
        color: white;
    }
}

// Стили для блока с товарами
.goods{
    width: 1440px;
    height: 1620px;
    margin: 0 auto;
    display: flex;

    &__filters{
        width: 385px;
        height: 1620px;
        padding: 48px 0 0 80px;
        color: #2A254B;

        &__productType{

            h5{
                font-family: ClashDisplay;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 20px;
            }

            &__types{
                margin-top: 12px;
                display: flex;
                align-items: center;

                p{
                    margin-left: 12px;
                    font-family: Satoshi;
                }
            }
        }

        &__price, &__designer{
            margin-top: 48px;

            h5{
                font-family: ClashDisplay;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 20px;
            }

            &__types{
                margin-top: 12px;
                display: flex;
                align-items: center;

                p{
                    margin-left: 12px;
                    font-family: Satoshi;
                }
            }
        }
    }

    &__cards{

        &__wrapper{
            display: flex;
        }

        &__item{
            width: 305px;
            height: 462px;
            margin: 36px 0 0 20px;
            color: #2A254B;

            p:nth-of-type(1){
                font-family: ClashDisplay;
                font-size: 20px;
                margin-top: 24px;
            }

            p:nth-of-type(2){
                font-family: Satoshi;
                font-size: 18px;
                margin-top: 8px;
            }
        }

        &__btn{
                width: 140px;
                height: 56px;
                background-color: #F9F9F9;
                color: #2A254B;
                border: none;
                font-family: Satoshi;
                margin: 32px 0 0 428px;
        }
    }
}

// Стили для подвала
.footer{
    width: 1440px;
    height: 380px;
    background-color: #2A254B;
    color: white;
    margin: 0 auto;

    .container{
        width: 1440px;
        padding: 58px 82px 0 82px;
        display: flex;
    }

    &__columns{
        display: flex;
        h4{
            font-family: ClashDisplay;
            font-weight: 400;
        }

        p{
            font-family: Satoshi;
            font-size: 14px;
            margin-top: 12px;
        }

        &__categories{
            margin-left: 109px;
        }

        &__ourCompany{
            margin-left: 135px;
        }
    }

    &__join{
        margin-left: 105px;
        h4{
            font-weight: 400;
            font-family: ClashDisplay;
        }
        
        input{
            width: 509px;
            height: 56px;
            background-color: #FFFFFF26;
            border: none;
            font-family: Satoshi;
            padding-left: 32px;
            color: white;
            margin-top: 16px;
        }

        &__btn{
            width: 118px;
            height: 56px;
            background-color: white;
            font-family: Satoshi;
            color: #2A254B;
            border: none;
        }
    }

    hr{
        width: 1277px;
        margin: 0 auto;
        margin-top: 48px;
        color: #4E4D93;
        border: 1px solid #4E4D93;
    }

    &__media{
        width: 1277px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 24px;
        align-items: center;
        font-family: Satoshi;
        font-size: 14px;

        &__icons{
            width: 264px;
            display: flex;
            justify-content: space-between;
        }
    }
}